body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: coral;
}
.social-icons {
  width: 30px;
  height: 30px;
  margin: 5px;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 10%;
}
#quote-box {
  border-radius: 3px;
  position: relative;
  width: 500px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  line-height: 30px;
}
#text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
}
#author {
  font-size: 1em;
  text-align: right;
  padding: 20px;
}
#new-quote {
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  padding: 5px;
  margin-left: 223px;
}
